snippet cl "Create a class" b
class ${1:SomeClass}

end
endsnippet

snippet todo "Create a todo" b
# TODO: ${1:desc} (`whoami`) (`date +%c`)
endsnippet

snippet re "Require" b
require '${1:gem}'
endsnippet
